[Unit]
Description=Music Player Daemon
Documentation=man:mpd(1) man:mpd.conf(5)
After=network.target sound.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/mpd
ExecStartPre=-/bin/bash -c '/usr/bin/mpd -V | grep -q sacdiso && { grep -q sacdiso /etc/mpd.conf || cat /etc/mpd.conf.d/sacdiso.conf >> /etc/mpd.conf ; }'
#ExecStart=/usr/bin/mpd --verbose --stderr --no-daemon $MPDCONF
ExecStart=/usr/bin/mpd --no-daemon $MPDCONF
# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity
LimitNOFILE=32768
Nice=-20
CPUAffinity=2-3
LimitMEMLOCK=infinity
IOSchedulingClass=realtime
IOSchedulingPriority=0

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
# AF_NETLINK is required by libsmbclient, or it will exit() .. *sigh*
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
Also=mpd.socket

